<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="Keywords" content="blog"/>
    <meta name="Description" content="blog"/>
    <title>Simple</title>
    <link rel="shortcut icon" href="/static/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
<div class="main">
    <div class="header">
    	<ul id="pages">
            <li><a href="/">home</a></li>
            <li><a href="/#/tags">tags</a></li>
            <li><a href="/#/archive">archive</a></li>
    	</ul>
    </div>
	<div class="wrap-header">
	<h1>
    <a href="/" id="title"></a>
	</h1>
	</div>
<xmp id="md" style="display: none;">
<!-- markdown -->
Django 是基于 Python 的 MVC 式 Web 框架.

与其它框架不同的是, Django 为 MVT 设计模式, M 为 Model, 负责对数据库结构的封装, V 为 View, 负责程序的主要操作, T 为 Template, 负责前端内容的输出.

不会讲太多, 文章面向那些想立即用 Django 快速开发一个网站/博客的朋友.

顺便吐槽下国内的的 X客园, Xsdn Xteye 等等网站, 内容复制来复制去的就不说什么了, 关于 Django 和 Python 深入一点的问题完全答非所问, 最后只好在 Django Python 官方文档和 StackOverFlow 找到答案.

## 版本

Django 不同的版本的语法和支持的环境几乎都有一些差异,例如路由的写法在 1.x 和 2.x 中就有很大区别

目前常用的版本如下

```
1.8.x: 支持 Python 2.7 3.2-3.5 LTS
1.11.x 支持 Python 2.7 3.4-3.6 LTS
2.0.x 支持 Python 3.4-3.7
```

我这里使用的是 1.11.x 版本 ~~毕竟正则路由才是真爱~~

## 开始

创建项目

`django-admin startproject <PROJECT_NAME>`

如果不出意外的话当前目录下会多出一个文件夹, 结构如下

```
project
├── manage.py
└── project
    ├── __init__.py
    ├── settings.py
    ├── urls.py
    └── wsgi.py
```

`manage.py` 相当于当前项目下的 `django-admin`

`settings.py` 保存着项目的设置, `urls.py` 为路由规则, `wsgi.py` 在部署项目到生产环境的时候会用到

再创建应用, 一个项目中会有多个应用存在

`manage.py startapp proj`

应用结构

```
proj
├── admin.py
├── apps.py
├── __init__.py
├── migrations
│   └── __init__.py
├── models.py
├── tests.py
└── views.py
```

`admin.py` 配置 Django 后台的功能, `apps.py` 为当前应用的设置, `migrations` 文件夹保存数据库结构更改的记录

`models.py` 为模型, `views.py` 为视图, `test.py` 一般不会用到

先在项目的 `settings.py` 中加上当前 app 的名称

```
INSTALLED_APPS = [
    ......
    'proj',
]
```

在 `views.py` 添加如下代码

```
from django.shortcuts import HttpResponse

def index(request):
    return HttpResponse('<h1>helloworld</h1>')
```

最后配置路由

```
from django.conf.urls import url
from django.contrib import admin
from proj import views

urlpatterns = [
    url(r'^admin/', admin.site.urls),
    url(r'^$', views.index),
]
```

启动服务器

`manage.py runserver`

helloworld `:P`

## 视图

视图在 `views.py` 中, 每一个函数对应着一个或多个操作

```
def index(request):
  return HttpResponse('index')
```

request 相当于 PHP 中的 `$_GET` `$_POST` `$_SESSION` `$_COOKIE` 和 `$_SERVER` 的集合

利用 request 接受各种参数

```
request.GET.get('arg')
request.POST.get('form')
request.REQUEST.get('all')
```

获取和设置 cookie session

```
request.COOKIES['a'] = 'b'
request.SESSION['c'] = 'd'
request.COOKIES.get('a')
request.SESSION.get('c')
```

获取客户端信息

```
request.META.get('HTTP_USERAGENT')
request.META.get('REMOTE_ADDR')
```

其中还有像 `request.GET['arg']` 这种方式获取数据, 不过数据不存在的时候会报错

`HttpResponse` 返回 response

`HttpResponseRedirect` 页面跳转

## 路由

路由在 `urls.py` 中, 1.11.x 使用正则表达式编写路由规则

```
from django.conf.urls import url
from django.contrib import admin

urlpatterns = [
    url(r'^admin/', admin.site.urls),
]
```

`urlpatterns` 保存 `url` 对象, 实例化时传入正则和视图

先引入当前 app 的包, 这样才能在路由中添加 app 中的视图函数

各种路由

```
url('^index', views.index)
url('^login', views.login)
```

去除末尾的斜杠

```
url('^user/?', views.user)
url('^cart/?', views.cart)
```

pathinfo 风格传参

```
url('^add/(.*)?/(.*)?', views.add)
```

视图函数

```
def add(request,a,b):
    return HttpResponse(a+':'+b)
```

## 模板

直接使用 `HttpResponse` 返回显得丑丑哒, django 使用 `render` 渲染模板

在 app 目录下新建 `templates` 文件夹和 `index.html`

内容如下

```
<h1> {{ message }} </h1>
```

`views.py`

```
def index(request):
    return render(request, 'index.html', {'message': 'helloworld'})
```

render 第一个参数默认为 request, 第二个为模板名称, 第三个为字典, 给模板传递内容

django 的模板语法中, 使用两对大括号输出变量内容, 一对大括号和一对百分号进行 if for 等操作

各种模板

if

```
{% if a > 5 %}
<strong> {{ a }} </storng>
{% endif %}

{% if islogin %}
<b> Welcome {{ name }} </b>
{% else %}
<b> Login
{% endif %}
```

for

```
<ul>
{% for a in list %}
<li> {{ forloop.counter }}.{{ a }} </li>
{% endfor %}
</ul>

{% for k,v in dict.items %}
<i>{{ k }}<i>: {{ v }}
```

模板还有过滤器, 如获取列表长度 `list|length`, 具体请到 Django 官方文档中查询

## 模型

模型在 `models.py` 中, 每一个 Class 对应着数据中的一张表, Class 的属性则为表中的字段

```
from django.db import models

class User(models.Model):
    age = models.IntegerField()
    username = models.CharField(max_length=16)
    password = models.CharField(max_length=32)
    email = models.EmailField(max_length=32)
    blog = models.UrlField(max_length=32,blank=True)
    isguy = models.BooleanField(default=True)
    regtime = models.DateTimeField(auto_now_add=True)
    info = models.TextField(blank=True)
```

不同的 Field 存放不同类型的数据, `IntegerField` 为数字, `CharField` 为字符串, `EmailField` 为邮箱地址, `UrlField` 为 url, `BooleanField` 为布尔值, `DateTimeField` 为日期, `TextField` 为长文本

Field 中还有不同的参数, `max_length` 为最大长度, `blank` 是否为空, `default` 指定默认值

全部的 Field 以及可用的参数请到 Django 官方文档中查询

操作数据的几种方式, 首先在 `views.py` 中引入 model

`from proj.models import User`

推荐在 shell 中进行数据操作

`manage.py shell`

查询

```
Uer.objects.get(username='admin').age
res = Uer.objects.get(username='admin')
res.username

User.objects.filter(username='admin')
res = User.objects.filter(username='test')
res.filter(isguy=True)

res = User.objects.filter(username='123').first()
res.email
```

get 获取到的结果在一条以上时会报错, 而 filter 不会, 但 filter 获取只有一条数据的时候结构仍为 QuerySet (类似于 list), 需要指定 `.first()` 或者 `.last()` 才能像 get 一样进行操作

插入

```
User.objects.create(username='abc',password='abc')

user = User(username='abc',password='abc')
user.save()

user = User()
user.username = 'abc'
user.password = 'abc'
user.save()
```

更新

```
User.objects.filter(username='admin').update(isguy=True)

res = User.objects.filter(username='admin')
res.update(isguy=True)

user = User.objects.get(username='admin')
user.isguy = True
user.save()

User.objects.all().update(isguy=True)
```

删除

```
User.objects.filter(username='admin').delete()

res = User.objects.filter(username='admin')
res.delete()

User.objects.all().delete()
```

切片

```
User.objects.filter(age=1)[:10]

User.objects.all()[:5]
```

还有一些字段名加双下划线的表示特定条件的字段, 如 `age__lt` 和 `age__gt` 表示 age 小于某数和 age 大于某数

具体请到 Django 官方文档中查询

## 后台

后台在 `admin.py` 中, 路由默认为 `^admin/`

创建后台用户

`mange.py createsuperuser`

密码需大于 8 位

默认的后台全是 `Query Object` 而且只显示一个字段, 需要手动修改下

先在 models 中每一个 class 中加入如下内容

```
def __unicode__(self):
  return self.username
```

3.x 为 `__str__`, 主要修改原在后台中显示的 `Quert Object`

修改 `admin.py`

```
from django.contrib import admin
from proj.models import User

class adminUser(admin.ModelAdmin):
	list_display = ('username', 'email', 'age', 'isguy', 'regtime')

admin.site.register(User, adminUser)
```

`adminUser` 类修改后台中显示的字段, 最后需要把 model 注册到 admin 中

还有美化 添加功能等方面, 不过听说 django 默认的后台并不安全

## 部署

django 默认的项目 DEBUG 模式为 True, 这将导致路由 源码 异常等信息都会出现在客户端, 而且在生产环境下 django 的 runserver 的性能差的一批

这里使用的是 `nginx + uwsgi` 方式进行项目的部署

先在 `settings.py` 中设置 `DEBUG = False`

在项目目录下添加 uwsgi.ini

```
[uwsgi]
socket = :8000
chdir = /home/exp10it/project
wsgi-file = /project/wsgi.py
module =bugscan.wsgi
master = true
processes = 4
vacuum = true
pidfile=uwsgi.pid
daemonize=uwsgi.log
```

启动

`uwsgi --ini uwsgi.ini`

在 nginx 配置文件的 http 中加入如下内容

```
upstream django {
    server 127.0.0.1:8000;
}

server {
    listen  8082;

    location /static {
        alias /home/exp10it/project/static;
    }

    location / {
        uwsgi_pass django;
        include uwsgi_params;
    }
}
```

最后启动 nginx, 访问本机 8082 端口即可

## 其它

关于静态文件, 最好的方法就是像部署时 nginx 配置文件中的那样 alias

至于用户的媒体文件, 在 app 目录中添加 media 文件并修改 `settings.py` 文件, 最后 nginx alias 即可

django 默认的 csrf 防护需要在模板中添加 `csrf_token`, 不想使用的话可在 `setting.py` 的 `MIDDLEWARE` 中注释掉 `django.middleware.csrf.CsrfViewMiddleware`

django 的 cookie 默认 httponly

django 的模板自带 xss filter
<!-- markdown end -->
</xmp>
<div class="entry" id="main">
<!-- content -->
<p>Django 是基于 Python 的 MVC 式 Web 框架.</p>

<p>与其它框架不同的是, Django 为 MVT 设计模式, M 为 Model, 负责对数据库结构的封装, V 为 View, 负责程序的主要操作, T 为 Template, 负责前端内容的输出.</p>

<p>不会讲太多, 文章面向那些想立即用 Django 快速开发一个网站/博客的朋友.</p>

<p>顺便吐槽下国内的的 X客园, Xsdn Xteye 等等网站, 内容复制来复制去的就不说什么了, 关于 Django 和 Python 深入一点的问题完全答非所问, 最后只好在 Django Python 官方文档和 StackOverFlow 找到答案.</p>

<h2 id="">版本</h2>

<p>Django 不同的版本的语法和支持的环境几乎都有一些差异,例如路由的写法在 1.x 和 2.x 中就有很大区别</p>

<p>目前常用的版本如下</p>

<pre><code>1.8.x: 支持 Python 2.7 3.2-3.5 LTS
1.11.x 支持 Python 2.7 3.4-3.6 LTS
2.0.x 支持 Python 3.4-3.7
</code></pre>

<p>我这里使用的是 1.11.x 版本 ~~毕竟正则路由才是真爱~~</p>

<h2 id="">开始</h2>

<p>创建项目</p>

<p><code>django-admin startproject &lt;PROJECT_NAME&gt;</code></p>

<p>如果不出意外的话当前目录下会多出一个文件夹, 结构如下</p>

<pre><code>project
├── manage.py
└── project
    ├── __init__.py
    ├── settings.py
    ├── urls.py
    └── wsgi.py
</code></pre>

<p><code>manage.py</code> 相当于当前项目下的 <code>django-admin</code></p>

<p><code>settings.py</code> 保存着项目的设置, <code>urls.py</code> 为路由规则, <code>wsgi.py</code> 在部署项目到生产环境的时候会用到</p>

<p>再创建应用, 一个项目中会有多个应用存在</p>

<p><code>manage.py startapp proj</code></p>

<p>应用结构</p>

<pre><code>proj
├── admin.py
├── apps.py
├── __init__.py
├── migrations
│&nbsp;&nbsp; └── __init__.py
├── models.py
├── tests.py
└── views.py
</code></pre>

<p><code>admin.py</code> 配置 Django 后台的功能, <code>apps.py</code> 为当前应用的设置, <code>migrations</code> 文件夹保存数据库结构更改的记录</p>

<p><code>models.py</code> 为模型, <code>views.py</code> 为视图, <code>test.py</code> 一般不会用到</p>

<p>先在项目的 <code>settings.py</code> 中加上当前 app 的名称</p>

<pre><code>INSTALLED_APPS = [
    ......
    'proj',
]
</code></pre>

<p>在 <code>views.py</code> 添加如下代码</p>

<pre><code>from django.shortcuts import HttpResponse

def index(request):
    return HttpResponse('&lt;h1&gt;helloworld&lt;/h1&gt;')
</code></pre>

<p>最后配置路由</p>

<pre><code>from django.conf.urls import url
from django.contrib import admin
from proj import views

urlpatterns = [
    url(r'^admin/', admin.site.urls),
    url(r'^$', views.index),
]
</code></pre>

<p>启动服务器</p>

<p><code>manage.py runserver</code></p>

<p>helloworld <code>:P</code></p>

<h2 id="">视图</h2>

<p>视图在 <code>views.py</code> 中, 每一个函数对应着一个或多个操作</p>

<pre><code>def index(request):
  return HttpResponse('index')
</code></pre>

<p>request 相当于 PHP 中的 <code>$_GET</code> <code>$_POST</code> <code>$_SESSION</code> <code>$_COOKIE</code> 和 <code>$_SERVER</code> 的集合</p>

<p>利用 request 接受各种参数</p>

<pre><code>request.GET.get('arg')
request.POST.get('form')
request.REQUEST.get('all')
</code></pre>

<p>获取和设置 cookie session</p>

<pre><code>request.COOKIES['a'] = 'b'
request.SESSION['c'] = 'd'
request.COOKIES.get('a')
request.SESSION.get('c')
</code></pre>

<p>获取客户端信息</p>

<pre><code>request.META.get('HTTP_USERAGENT')
request.META.get('REMOTE_ADDR')
</code></pre>

<p>其中还有像 <code>request.GET['arg']</code> 这种方式获取数据, 不过数据不存在的时候会报错</p>

<p><code>HttpResponse</code> 返回 response</p>

<p><code>HttpResponseRedirect</code> 页面跳转</p>

<h2 id="">路由</h2>

<p>路由在 <code>urls.py</code> 中, 1.11.x 使用正则表达式编写路由规则</p>

<pre><code>from django.conf.urls import url
from django.contrib import admin

urlpatterns = [
    url(r'^admin/', admin.site.urls),
]
</code></pre>

<p><code>urlpatterns</code> 保存 <code>url</code> 对象, 实例化时传入正则和视图</p>

<p>先引入当前 app 的包, 这样才能在路由中添加 app 中的视图函数</p>

<p>各种路由</p>

<pre><code>url('^index', views.index)
url('^login', views.login)
</code></pre>

<p>去除末尾的斜杠</p>

<pre><code>url('^user/?', views.user)
url('^cart/?', views.cart)
</code></pre>

<p>pathinfo 风格传参</p>

<pre><code>url('^add/(.*)?/(.*)?', views.add)
</code></pre>

<p>视图函数</p>

<pre><code>def add(request,a,b):
    return HttpResponse(a+':'+b)
</code></pre>

<h2 id="">模板</h2>

<p>直接使用 <code>HttpResponse</code> 返回显得丑丑哒, django 使用 <code>render</code> 渲染模板</p>

<p>在 app 目录下新建 <code>templates</code> 文件夹和 <code>index.html</code></p>

<p>内容如下</p>

<pre><code>&lt;h1&gt; {{ message }} &lt;/h1&gt;
</code></pre>

<p><code>views.py</code></p>

<pre><code>def index(request):
    return render(request, 'index.html', {'message': 'helloworld'})
</code></pre>

<p>render 第一个参数默认为 request, 第二个为模板名称, 第三个为字典, 给模板传递内容</p>

<p>django 的模板语法中, 使用两对大括号输出变量内容, 一对大括号和一对百分号进行 if for 等操作</p>

<p>各种模板</p>

<p>if</p>

<pre><code>{% if a &gt; 5 %}
&lt;strong&gt; {{ a }} &lt;/storng&gt;
{% endif %}

{% if islogin %}
&lt;b&gt; Welcome {{ name }} &lt;/b&gt;
{% else %}
&lt;b&gt; Login
{% endif %}
</code></pre>

<p>for</p>

<pre><code>&lt;ul&gt;
{% for a in list %}
&lt;li&gt; {{ forloop.counter }}.{{ a }} &lt;/li&gt;
{% endfor %}
&lt;/ul&gt;

{% for k,v in dict.items %}
&lt;i&gt;{{ k }}&lt;i&gt;: {{ v }}
</code></pre>

<p>模板还有过滤器, 如获取列表长度 <code>list|length</code>, 具体请到 Django 官方文档中查询</p>

<h2 id="">模型</h2>

<p>模型在 <code>models.py</code> 中, 每一个 Class 对应着数据中的一张表, Class 的属性则为表中的字段</p>

<pre><code>from django.db import models

class User(models.Model):
    age = models.IntegerField()
    username = models.CharField(max_length=16)
    password = models.CharField(max_length=32)
    email = models.EmailField(max_length=32)
    blog = models.UrlField(max_length=32,blank=True)
    isguy = models.BooleanField(default=True)
    regtime = models.DateTimeField(auto_now_add=True)
    info = models.TextField(blank=True)
</code></pre>

<p>不同的 Field 存放不同类型的数据, <code>IntegerField</code> 为数字, <code>CharField</code> 为字符串, <code>EmailField</code> 为邮箱地址, <code>UrlField</code> 为 url, <code>BooleanField</code> 为布尔值, <code>DateTimeField</code> 为日期, <code>TextField</code> 为长文本</p>

<p>Field 中还有不同的参数, <code>max_length</code> 为最大长度, <code>blank</code> 是否为空, <code>default</code> 指定默认值</p>

<p>全部的 Field 以及可用的参数请到 Django 官方文档中查询</p>

<p>操作数据的几种方式, 首先在 <code>views.py</code> 中引入 model</p>

<p><code>from proj.models import User</code></p>

<p>推荐在 shell 中进行数据操作</p>

<p><code>manage.py shell</code></p>

<p>查询</p>

<pre><code>Uer.objects.get(username='admin').age
res = Uer.objects.get(username='admin')
res.username

User.objects.filter(username='admin')
res = User.objects.filter(username='test')
res.filter(isguy=True)

res = User.objects.filter(username='123').first()
res.email
</code></pre>

<p>get 获取到的结果在一条以上时会报错, 而 filter 不会, 但 filter 获取只有一条数据的时候结构仍为 QuerySet (类似于 list), 需要指定 <code>.first()</code> 或者 <code>.last()</code> 才能像 get 一样进行操作</p>

<p>插入</p>

<pre><code>User.objects.create(username='abc',password='abc')

user = User(username='abc',password='abc')
user.save()

user = User()
user.username = 'abc'
user.password = 'abc'
user.save()
</code></pre>

<p>更新</p>

<pre><code>User.objects.filter(username='admin').update(isguy=True)

res = User.objects.filter(username='admin')
res.update(isguy=True)

user = User.objects.get(username='admin')
user.isguy = True
user.save()

User.objects.all().update(isguy=True)
</code></pre>

<p>删除</p>

<pre><code>User.objects.filter(username='admin').delete()

res = User.objects.filter(username='admin')
res.delete()

User.objects.all().delete()
</code></pre>

<p>切片</p>

<pre><code>User.objects.filter(age=1)[:10]

User.objects.all()[:5]
</code></pre>

<p>还有一些字段名加双下划线的表示特定条件的字段, 如 <code>age__lt</code> 和 <code>age__gt</code> 表示 age 小于某数和 age 大于某数</p>

<p>具体请到 Django 官方文档中查询</p>

<h2 id="">后台</h2>

<p>后台在 <code>admin.py</code> 中, 路由默认为 <code>^admin/</code></p>

<p>创建后台用户</p>

<p><code>mange.py createsuperuser</code></p>

<p>密码需大于 8 位</p>

<p>默认的后台全是 <code>Query Object</code> 而且只显示一个字段, 需要手动修改下</p>

<p>先在 models 中每一个 class 中加入如下内容</p>

<pre><code>def __unicode__(self):
  return self.username
</code></pre>

<p>3.x 为 <code>__str__</code>, 主要修改原在后台中显示的 <code>Quert Object</code></p>

<p>修改 <code>admin.py</code></p>

<pre><code>from django.contrib import admin
from proj.models import User

class adminUser(admin.ModelAdmin):
    list_display = ('username', 'email', 'age', 'isguy', 'regtime')

admin.site.register(User, adminUser)
</code></pre>

<p><code>adminUser</code> 类修改后台中显示的字段, 最后需要把 model 注册到 admin 中</p>

<p>还有美化 添加功能等方面, 不过听说 django 默认的后台并不安全</p>

<h2 id="">部署</h2>

<p>django 默认的项目 DEBUG 模式为 True, 这将导致路由 源码 异常等信息都会出现在客户端, 而且在生产环境下 django 的 runserver 的性能差的一批</p>

<p>这里使用的是 <code>nginx + uwsgi</code> 方式进行项目的部署</p>

<p>先在 <code>settings.py</code> 中设置 <code>DEBUG = False</code></p>

<p>在项目目录下添加 uwsgi.ini</p>

<pre><code>[uwsgi]
socket = :8000
chdir = /home/exp10it/project
wsgi-file = /project/wsgi.py
module =bugscan.wsgi
master = true
processes = 4
vacuum = true
pidfile=uwsgi.pid
daemonize=uwsgi.log
</code></pre>

<p>启动</p>

<p><code>uwsgi --ini uwsgi.ini</code></p>

<p>在 nginx 配置文件的 http 中加入如下内容</p>

<pre><code>upstream django {
    server 127.0.0.1:8000;
}

server {
    listen  8082;

    location /static {
        alias /home/exp10it/project/static;
    }

    location / {
        uwsgi_pass django;
        include uwsgi_params;
    }
}
</code></pre>

<p>最后启动 nginx, 访问本机 8082 端口即可</p>

<h2 id="">其它</h2>

<p>关于静态文件, 最好的方法就是像部署时 nginx 配置文件中的那样 alias</p>

<p>至于用户的媒体文件, 在 app 目录中添加 media 文件并修改 <code>settings.py</code> 文件, 最后 nginx alias 即可</p>

<p>django 默认的 csrf 防护需要在模板中添加 <code>csrf_token</code>, 不想使用的话可在 <code>setting.py</code> 的 <code>MIDDLEWARE</code> 中注释掉 <code>django.middleware.csrf.CsrfViewMiddleware</code></p>

<p>django 的 cookie 默认 httponly</p>

<p>django 的模板自带 xss filter</p>
<!-- content end -->
</div>
<br>
<br>
    <div id="disqus_thread"></div>
	<div class="footer">
		<p>© Copyright 2014 by isnowfy, Designed by isnowfy</p>
	</div>
</div>
<script src="main.js"></script>
<script id="content" type="text/mustache">
    <h1>{{title}}</h1>
    <div class="tag">
    {{date}}
    {{#tags}}
    <a href="/#/tag/{{name}}">#{{name}}</a>
    {{/tags}}
    </div>
</script>
<script id="pagesTemplate" type="text/mustache">
    {{#pages}}
    <li>
        <a href="{{path}}">{{title}}</a>
    </li>
    {{/pages}}
</script>
<script>
$(document).ready(function() {
    $.ajax({
        url: "main.json",
        type: "GET",
        dataType: "json",
        success: function(data) {
            $("#title").html(data.name);
            var pagesTemplate = Hogan.compile($("#pagesTemplate").html());
            var pagesHtml = pagesTemplate.render({"pages": data.pages});
            $("#pages").append(pagesHtml);
            //path
            var path = "django-quick-start.html";
            //path end
            var now = 0;
            for (var i = 0; i < data.posts.length; ++i)
                if (path == data.posts[i].path)
                    now = i;
            var post = data.posts[now];
            var tmp = post.tags.split(" ");
            var tags = [];
            for (var i = 0; i < tmp.length; ++i)
                if (tmp[i].length > 0)
                    tags.push({"name": tmp[i]});
            var contentTemplate = Hogan.compile($("#content").html());
            var contentHtml = contentTemplate.render({"title": post.title, "tags": tags, "date": post.date});
            $("#main").prepend(contentHtml);
            if (data.disqus_shortname.length > 0) {
                var disqus_shortname = data.disqus_shortname;
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            }
        }
    });
});
</script>
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ["\\(", "\\)"]], processEscapes: true}});
</script>
</body>
</html>
